---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=base&source=tok_177kme2nDnAL4MMhl6fjCvYx
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7MTkHyKcyj23DO",
          "object": "customer",
          "account_balance": 0,
          "created": 1447671869,
          "currency": "gbp",
          "default_source": "card_177kme2nDnAL4MMhLGMLaPLI",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_177kme2nDnAL4MMhLGMLaPLI",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7MTkHyKcyj23DO",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "Af7aX4eCVf67Ne5O",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7MTkHyKcyj23DO/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7MTkXa97KF4nbF",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1450263869,
                "current_period_start": 1447671869,
                "customer": "cus_7MTkHyKcyj23DO",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447411313,
                  "currency": "gbp",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1447671869,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7MTkHyKcyj23DO/subscriptions"
          }
        }
  recorded_at: Mon, 16 Nov 2015 11:04:29 GMT
recorded_with: VCR 3.0.0
