---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+john%40example.com&source=tok_1763xJ2nDnAL4MMhVqh8HdSY
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1763xK2nDnAL4MMh70xWiERQ"
          }
        }
  recorded_at: Wed, 11 Nov 2015 19:08:31 GMT
recorded_with: VCR 3.0.0
