---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_176fwS2nDnAL4MMh4gJoxMQz",
          "object": "token",
          "card": {
            "id": "card_176fwS2nDnAL4MMh3QHAD4SR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "Af7aX4eCVf67Ne5O",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.28.164.246",
          "created": 1447414928,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 Nov 2015 11:42:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=a+valid+charge&source=tok_176fwS2nDnAL4MMh4gJoxMQz
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_176fwT2nDnAL4MMhX5YpcTMl",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_176fwU2nDnAL4MMhafaZkxWv",
          "captured": true,
          "created": 1447414929,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_176fwT2nDnAL4MMhX5YpcTMl/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_176fwS2nDnAL4MMh3QHAD4SR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "Af7aX4eCVf67Ne5O",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 13 Nov 2015 11:42:10 GMT
recorded_with: VCR 3.0.0
