---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2019&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_177km92nDnAL4MMhAtTITpTl",
          "object": "token",
          "card": {
            "id": "card_177km92nDnAL4MMh1FJDcpGa",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "E9a1NZXU71jOwUG4",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.28.164.246",
          "created": 1447671837,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 16 Nov 2015 11:03:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=a+valid+charge&source=tok_177km92nDnAL4MMhAtTITpTl
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_177kmA2nDnAL4MMhYAHOZOWo"
          }
        }
  recorded_at: Mon, 16 Nov 2015 11:03:58 GMT
recorded_with: VCR 3.0.0
