---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_176fwZ2nDnAL4MMhpIQWLkho",
          "object": "token",
          "card": {
            "id": "card_176fwZ2nDnAL4MMhAe5kSVlM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "Af7aX4eCVf67Ne5O",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.28.164.246",
          "created": 1447414935,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 Nov 2015 11:42:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=beie%40kunzerogahn.biz&plan=base&source=tok_176fwZ2nDnAL4MMhpIQWLkho
    headers:
      Authorization:
      - Bearer sk_test_KKjbSDTckVQ4r9GxVziEb5hU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7LMfJaMiqHhpPj",
          "object": "customer",
          "account_balance": 0,
          "created": 1447414936,
          "currency": "gbp",
          "default_source": "card_176fwZ2nDnAL4MMhAe5kSVlM",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "beie@kunzerogahn.biz",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_176fwZ2nDnAL4MMhAe5kSVlM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7LMfJaMiqHhpPj",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2019,
                "fingerprint": "Af7aX4eCVf67Ne5O",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7LMfJaMiqHhpPj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7LMf3zNjmLXYkd",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1450006936,
                "current_period_start": 1447414936,
                "customer": "cus_7LMfJaMiqHhpPj",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447411313,
                  "currency": "gbp",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1447414936,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7LMfJaMiqHhpPj/subscriptions"
          }
        }
  recorded_at: Fri, 13 Nov 2015 11:42:17 GMT
recorded_with: VCR 3.0.0
